.header {
     padding-top: 20px;
     padding-bottom: 20px;
     /* width: 100%; */
     padding-left: 10%;
     box-shadow: 0px 0px 8px 2px #000000;
     background: rgba(10, 67, 127, 1)

}

.imageLogo {
     margin-right: 10px;
}

.leftHeader {
     display: flex;
     flex-direction: row;
}

.nameLogo {
     font-size: 17px;
     font-weight: 600;
}

.rightHeader {
     display: flex;
     align-items: center;
     color: #fff;
}

.home {
     margin-right: 10px;
     color: #fff;
}

.about {
     margin-right: 10px;
     color: #fff;
}

.bills {
     margin-right: 10px;
     color: #000000;
}

.animation{
     text-decoration: underline;
     text-decoration-color: red;
     text-underline-offset: 8px;
}

.home:hover {
     cursor: pointer;
}

.about:hover {
     cursor: pointer;
}
.bills:hover {
     cursor: pointer;
}


.logoCart {
     font-size: 30px;
     width: 80px;
}

.logoCart:hover {
     cursor: pointer;
}

.content-modal-login{
     padding-top: 10px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

.title-login {
     margin-bottom: 25px;
     font-size: 16px;
     font-weight: 400;
}

.input-username{
     margin-bottom: 15px;
}

.input-pass{
     margin-bottom: 30px;
}

.btn-login{
     width: 100%;
     background: rgba(15, 58, 141, 1);
     color: #fff;
     font-weight: bold;
}


.content-modal-signup{
     padding-top: 10px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

.title-signup {
     margin-bottom: 25px;
     font-size: 16px;
     font-weight: 400;
}

.input-username1, .input-phone, .input-pass1, .input-address{
     margin-bottom: 15px;
}

.input-confirm-pass{
     margin-bottom: 30px;
}

.btn-signup{
     width: 100%;
     background: rgba(15, 58, 141, 1);
     color: #fff;
     font-weight: bold;
}

.user-info-container {
     justify-content: center;
     align-items: center;
}