.sta-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.ava-product {
    width: 180px;
    height: 150px;
    border: 5px solid;
    border-radius: 50%;
    padding: 15px
}

.first {
    border-color: gold;
    background-color: rgb(245, 243, 130);
}

.second {
    border-color: silver;
    background-color: rgb(233, 233, 233);
}

.third {
    border-color: rgba(179, 68, 4, 0.452);
    background-color: rgba(219, 85, 7, 0.801);
}

.content-all {
    margin-bottom: 50px;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.top-second {
    margin-top: 50px;
}

.top-third {
    margin-top: 100px
}

.title-top {
    font-size: 16px;
    font-weight: 600;
}

.view-bill {
    display: flex;
    flex-direction: row;
}

.center {
    align-items: center;
    justify-content: center;
}

.btn-view-bill, .btn-accept-bill{
    margin-right: 10px;
}

.btn-export {
    background: rgba(10, 67, 127, 1);
    font-weight: bold;
    color: #fff;
}

.export-container {
    align-items: center;
    margin-bottom: 20px;
}