

.content {
     margin-top: 2%;
     display: flex;
     margin-left: 7%;
     margin-right: 7%;
}

.product-name {
     font-weight: 600;
}
.sizes {
     font-weight: 600;
}
.quantity {
     font-weight: 600;
}

.subtotal {
     font-weight: 600;
}

.total {
     font-weight: 600;
}

.clear-cart {
     font-weight: 600;
}

.bottom {
     margin-left: 6%;
     margin-right: 6%;
}

.bottom-back {
     color: red;
     border-color: red;
     margin-top: 3%;
}

.buy-total {
     margin-left: 80%;
}

.bottom-buy {
     color: white;
     background-color: rgb(59, 168, 45);
     margin-left: 23%;
     padding-left: 50px;
     padding-right: 50px;
     text-align: center;
     font-weight: 600;
}

.bottom-buy:hover {
     background-color: white;
     margin-left: 23%;
     padding-left: 50px;
     padding-right: 50px;
     text-align: center;
     font-weight: 600;
}

.first-name{
     width: 45%;
}

.last-name{
     width: 45%;
}

.name-custmmer{
     display: flex;
     justify-content: space-between;
}

.obligatory {
     color: red;
}

.message {
     min-height: 70px;
     height: 100%;
}

.cartEmpty {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;
     height: auto;
}

.content-modal {
     padding: 20px
}

.select-address {
     display: flex;
     justify-content: space-between;
}

.apartment-number {
     width: 300px;
     margin-top: 10px;
}

.confirm-modal {
     display: flex;
     flex-direction: row;
     margin-top: 20px;
}

.info-customer {
     background-color: white;
     padding: 10px
}

.info-products {
     background-color: rgb(247, 247, 247);
     padding: 10px;
     border-radius: 30px;
}

.title-info {
     text-align: center;
}

.line-big {
     margin-bottom: 2%;
     margin-top: 2%;
     border-top: groove;
     border-top-width: 2px;
}

.line-small {
     margin-bottom: 2%;
     border-top: groove;
     border-top-width: 2px;
     margin-left: 15px;
     margin-right: 15px;
}

.total-price {
     font-size: 18px;
}